@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

h1 a{
    text-decoration: none;
    color: #000000;
}

p{
    font-size: 1rem;
    line-height: 3;
}

/*Gallery Css*/
.photo-grid{
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/*Photo*/
.figure-container{
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    flex-basis: calc(30% - 0.45rem);
    padding: 1.2rem;
    flex-grow: 1;
    margin: 0 1.2rem 1.2rem 1.2rem;
}

.photo{
    width: calc(100% + 2.4rem);
    margin: 0 -1.2rem -1.2rem -1.2rem;
}

.button-container{
    display: flex;
    justify-content: center;
}

.remove-button{
    color: rgb(218, 78, 44);
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    flex-basis: 40%;
    line-height: 1.2rem;
    border: 2px solid #ff8787;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.remove-button:hover{
    color: #ff4343;
    border: 2px solid #ff4343;
    background-color: #fff;
}

.addIcon{
    margin: 20px auto;
    display: block;
    padding: 40px;
    background: url("../../images/add.svg") center no-repeat;
    background-size: contain;
    border: none;
}

/* AddPhoto,Comment page */
.form-layout{
    margin: 0 auto;
    max-width: 380px;
    padding: 48px;
    text-align: center;
}

.form-layout input{
    width: 100%;
    font-family: sans-serif;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 0 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #ebebeb;
}

.form-layout button{
    color: #fff;
    background-color: #444444;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    line-height: 1.2rem;
    width: 100%;
    border: 2px solid #444444;
    padding: 6px 55px;
    border-radius: 8px;
    cursor: pointer;
}

.form-layout button:hover{
    border: 2px solid #000000;
    background-color: #000000;
}

/* Single Post */
.figure .single-photo {
    flex-basis: calc(33.333% - 4rem);
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 2rem 2rem 2rem;
    padding: 2rem;
    border: 1px solid #d3d3d3;
    background: #fff;
    position: relative;
}


.single-photo {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    border: black;
}


.single-photo .figure {
    box-shadow: none;
    margin: 0 2rem 0 0;
    border: 0;
    padding: 0;
    flex: 1 0 60%;
    max-width: 60%;
}

.single-photo .comments {
    flex: 1 0 40%;
    max-width: 40%;
}

.single-photo .photo {
    width: 100%;
    margin: 0;
}

/* comment section */
.comment{
    width: 100%
}
.comment p {
    border-bottom: 1px solid #d3d3d3;
    padding: 0.5rem 0;
}
.comment-form input,
.comment-form textarea {
    width: 100%;
    border: 0;
    font-size: 1.3rem;
    padding: 1rem 0;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
    resize: vertical;
}

.speech-bubble {
    background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png") center no-repeat;
    background-size: contain;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: none;
    position: relative;
}


.comment-count {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black
}

.loader {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
}